.my-body {background-image: url("background.jpg");}

.my-face{
	
    display: block;
    width:200px;
    height:200px;
    margin: auto auto;
    border-radius:50%;
    border:1px solid #aaa;
    margin-top: -100px
  }
  
  .my-container{
	border: 1px solid #aaa;
	background-color: gray;
	max-width: 700px;
	margin: 110px auto 10px auto;
	padding: 1rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	font-family: "Lato";
}
.my-container h1{
	text-align: center;
}

.my-hr {
    max-width:300px;
}

.my-form{
	font-family: "Lato";
	max-width: 400px;
	padding: 10px;
	margin: auto;
	border: 0px solid black;
}

.my-form-group{
	margin-top: 20px;
	margin-bottom:20px;	
}

input[type]{
        appearance: none;
        width:400px;
        font-size:1.5rem;
        height: 2rem;
}
    
/*Select multiple selectors with a comma , */
/*input[type=text] selects <input type="text"> */
input[type=text], 
input[type=email]{
        background-color:white;
        border: 1px;
        border-bottom:1px solid black;
}
 
input[type=submit]{	
	height: 3rem;
	border: none;
	background-color:black;
	color:white;
}
